@import url('https://fonts.googleapis.com/css?family=Amiri:00,200,300,400,500,600,700|Ubuntu:100,200,300,400,500,600,700');

body {
    height: 100%;
    margin: 0;
    background-color: #ffffff;
    /* use dark grey later: #1e2f2f;*/
    font-family: 'Amiri', serif;
}
.page-header {
    margin-left: 20px;
}

/*------------------------------------------------NAVIGATION----------*/
.navbar {
    background-color: rgba(0,0,0, 0.3);
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #3E96B6;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    margin: 0px 15px;
}

.navbar-brand {
    margin: 0px 20px 0px 0px;
    /*insert logo image format*/
}
/*------------------------------------------------INTRO----------*/
.intro {
    height: 100vh;
    width: 100vw;
    background-image: url('/assets/images/IntroBackground.jpg');
    background-position: bottom;
    background-size: cover;
    margin-bottom: 0px;
    z-index: -1;
    background-color: #ffffff;
   /* filter: opacity(50%);*/
}

.intro-text {
    margin-left: 20px;
}
/*------------------------------------------------PORTFOLIO----------*/
.portfolio {
    
}

/*------------------------------------------------SKILLS----------*/
.skills {
    
}

/*------------------------------------------------CONTACT----------*/
.contact {
    
}
.contact-form {
    margin-left: 20px;
}
/*------------------------------------------------MEDIA QUERIES----------*/

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
   
}
