@import url('https://fonts.googleapis.com/css?family=Amiri:00,200,300,400,500,600,700|Ubuntu:100,200,300,400,500,600,700');

body {
    height: 100%;
    margin: 0;
    background-color: #ffffff;
    /* use dark grey later: #1e2f2f;*/
    font-family: 'Amiri', serif;
}
/*------------------------------------------------NAVIGATION----------*/
.navbar {
    color: teal;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6em;
    font-weight: bold;
   
}
/*------------------------------------------------INTRO----------*/
.intro {
    height: 100vh;
}

/*------------------------------------------------PORTFOLIO----------*/
.portfolio {
    
}

/*------------------------------------------------SKILLS----------*/
.skills {
    
}

/*------------------------------------------------CONTACT----------*/
.contact {
    
}

/*------------------------------------------------MEDIA QUERIES----------*/

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
   
}
